<ul class="list-unstyled">
<li><strong><u>Name (current health)</u></strong></li>
<%@monsters.each do |monster| %>
    <li><%=link_to monster.name, monster_path(monster) %> (<%=monster.health%>)</li>
<%end%>
</ul>