<h2>All Users</h2>
<table class="table table-borderless table-sm table-nonfluid">
<thead>
<tr>
  <th scope="col">User Name</th>
  <th scope="col"># of Monsters</th>
</tr>
</thead>
<tbody>
<%@users.each do |user| %>
    <tr><td><%=display_username user%></td><td><%= %><%=link_to "#{user.monsters.count} Monsters", user_monsters_path(user) %></td></tr>
<%end%>
</tbody>
</table>