<h2><%=current_user.username%>'s Monsters</h2>
<% if @monsters.nil? %>
You have no Monsters!
<% else %>

<%= render '/monsters/monster_list' %>
<% end %>
<br /><%=link_to "Add a New Monster", new_monster_path,  class: "btn btn-primary"%>



