<div class="row">
<div class="col-6"><h2><%=current_user.username%>'s Monsters</h2></div>
</div><div class="row">
<div class="col-1"></div>
<div class="col-3"><%=link_to "Add a New Monster", new_monster_path,  class: "btn btn-primary"%></div>
<div class="col"></div>
</div>
<br />
<% if @monsters.nil? %>
You have no Monsters!
<% else %>
<%= render '/monsters/monster_list' %>
<% end %>
</div>
<br />



