<table class="table table-borderless table-sm table-nonfluid">
<thead>
<tr>
  <th scope="col">Name</th>
  <th scope="col">Health</th>
</tr>
</thead>
<tbody>
<%@locations.each do |location| %>
    <tr><td><%=link_to location.name, location_path(location) %></td><td><%=location.health%></td></tr>
<%end%>
</tbody>
</table>