<h2>All Locations</h2>
<ul class="list-unstyled">
<li><strong><u>Name (current health)</u></strong></li>
<%@locations.each do |location| %>
    <li><%=link_to location.name, location_path(location) %> (<%=location.health%>)</li>
<%end%>
<ul>
