<h1><%=@location.name%></h1>
Health: <%=@location.health%><br />
<%=link_to "Edit Location Name", edit_location_path(@location)%><br />
<br />
<%= render partial: "fights/fight_list", locals: {fights: @location.fights} %>