<h3>Locations That Are Currently Wrecked</h3>
<ul class="list-unstyled">
<% if @locations %>
    <li><strong><u>Name (current health)</u></strong></li>
    <% @locations.each do |location| %>
        <li><%=location.name%> (<%=location.health%>)</li>
    <%end%>
<% else %>
    All Locations Are Doing OK!
<% end %>
</ul>